/* #--- Reset styles ---# */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 400;
}

/* #--- Default styles ---# */

body {
  font: 400 16px/1.5 Arial, Tahoma, Verdana, sans-serif;
  color: #333;
  background-color: #fff;
}

.wrapper{
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  padding: 50px 0;
}

.section-blue {
  background: #445162;
  color: #fff;
}

.section-grey {
  background-color: #f5f5f5;
}

.colum-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.valign-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 22px;
}

.col + .col {
  padding-left: 22px;
}
.col:last-child {
  padding-right: 0;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.title30 {
  font-size: 30px;
  color: #445161;
  font-weight: 400;
  text-align: center;
  margin: 0 0 25px;
}

.title24 {
  font-size: 24px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 15px;
}

.text-left {
  text-align: left !important;
}

p{
  margin: 0 0 10px;
}

/* #--- Custom styles ---# */

.header h1 {
  font-size: 60px;
  margin: 0 0 32px;
}

.check-list {
  font-size: 20px;
}

.check-list li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 5px;
}

.check-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 25px;
  height: 19px;
  background: url('../images/check-icon.png') no-repeat 50%;
  background-size: auto 100%;
}

.product-image-wrapper,
.about-image-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-image-wrapper img{
  max-width: 470px;
  max-height: 300px;  /* Ограничим с запасом */
}

.about-image-wrapper img {
  max-width: 430px;
  max-height: 300px;
}

.col-60 p {
  padding-right: 20px;
}

.plus-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plus-list li {
  position: relative;
  padding: 15px 0 5px;
  padding-left: 42px;
  width: 50%;

}
.plus-list li::before{
  content: '+';
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  font-size: 42px;
  font-weight: 500;
  color: #fff;
  background: #445161;
}

.descr-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-bottom: -15px;
}

.descr-list li,
.review-list li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.descr-list li {
  padding: 15px 8px;
}

.descr-img {
  min-width: 200px;
}

.descr-text {
  padding-left: 15px;
}

.review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-list li {
  padding: 0 0 24px 0;
  width: 48%;
}

.review-img {
  min-width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.review-img img {
  border-radius: 50%;
}

.review-comment {
  padding: 15px;
  position: relative;
  border-radius: 5px;
  background: #ebebeb;

  font-size: 14px;
}

.review-comment::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);

  position: absolute;
  top: 30px;
  left: -9px;
}

.review-comment p{
  font-style: italic;
}

.review-comment span {
  color: #989898;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  color: #fff;
  text-align: center;
  padding: 0 22px;
}

.card-inner{
  width: 300px;
  background: #445162;
  padding: 15px 2px 20px;
  border-radius: 5px;
}

.card .title24 {
  color: #fff;
}

.card span {
  display: block;
  font-size: 40px;
  color: #445162;
  padding: 12px 0;
  background: #fff;
}

.card ol {
  padding: 20px 0 20px 34px;
  font-size: 14px;
}

.card .button {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #445162;
  padding: 0 18px;
}

.card .button a {
  display: block;
  padding: 10px 0;
  background: #fff;
  border-radius: 5px;
}